/* --------- Basic CSS ---------- */

/* container */
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
	width: 160px;
	height: auto;
}


/* --------- Footer section ---------- */

.site-footer {
	padding: 48px 0;
	background-color: #002529;
}

.site-footer .container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	gap: 40px;
}

.footer-left {
	display: flex;
	flex-direction: column;
	gap: 25px;
  margin: 0;
}

.footer-nav {
	list-style: none;
	display: flex;
  align-items: center;
	gap: 40px;
  padding-left: 0;
  margin: 0;
}

.footer-nav a {
	color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 155.556%;
  transition: 300ms;
}

.footer-nav a:hover {
  color: #F67E7E;
}

.address {
	margin-left: 85px;
  color: rgb(255, 255, 255, 0.6);
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 166.667% ;
}

.address a:hover {
  text-decoration: underline;
}

.footer-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 16px;
  margin-left: auto;
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socials a {
  display: inline-block;
  transition: 300ms;
}

.socials img {
	width: 24px;
}

.socials a:hover img {
	filter: brightness(0) saturate(100%) invert(75%) sepia(20%) saturate(6032%) hue-rotate(311deg) brightness(101%) contrast(92%);
}

.copyright {
	width: 100%;
  color: rgb(255, 255, 255, 0.6);
  text-align: right;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 166.667%;
  margin-top: 31px;
}






/* ------ Tablet Landscope (1025px to 1199px) -- */

@media (min-width: 1025px) and (max-width: 1199px) {
  
  .container {
    max-width: 970px;
  }

}

/* ------ Tablet (1024px and down) ------- */

@media (max-width: 1024px) {
  
    .container {
        max-width: 570px;
    }

    .site-header .container,
    .site-footer .container {
        max-width: 720px;
    }

    .site-footer {
        padding: 56px 0;
    }

    .site-footer .container {
        flex-wrap: wrap;
        gap: 32px;
    }

    .footer-nav {
        gap: 53px;
    }

    .address {
        margin-left: auto;
        text-align: end;
    }

    .footer-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
    }

    .copyright {
        margin: 0;
    }

}


/* ------ Mobile (767px and down) ------- */

@media (max-width: 767px) {

    .container {
        max-width: 540px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .site-footer {
        padding: 66px 0;
    }

    .site-footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .site-footer .logo-img {
        width: 96px;
    }

    .footer-nav {
        gap: 24px;
    }

    .footer-nav a {
        font-size: 15px;
    }

    .address {
        margin-left: 0;
        text-align: center;
    }

    .footer-right {
        flex-direction: column;
        margin-top: 24px;
    }

    .copyright {
        text-align: center;
    }

    .site-footer .container {
      padding: 0;
    }

}

