
/* ------ Tablet Landscope (1025px to 1199px) -- */

@media (min-width: 1025px) and (max-width: 1199px) {
  
  .container {
    max-width: 970px;
  }

  .decor {
    width: 80px;
  }

}

/* ------ Tablet (1024px and down) ------- */

@media (max-width: 1024px) {
  
    .container, .form-container {
        max-width: 570px;
    }

    .site-header .container,
    .site-footer .container {
        max-width: 720px;
    }

    .main-nav {
        padding-left: 48px;
    }

    .contact-section {
        padding-top: 50px;
    }

    .contact-section .form-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .contact-info h1,
    .subtitle {
        text-align: center;
    }

    .decor {
        width: 90px;
    }

}


/* ------ Mobile (767px and down) ------- */

@media (max-width: 767px) {

    .container, .form-container {
        max-width: 540px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .site-header {
        padding: 48px 0;
    }

    .site-header .container,
    .site-footer .container {
        max-width: 540px;
    }

    .logo-img {
        width: 128px;
    }
    
    .burger_btn {
        display: inline-block;
    }

    .burger_close {
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: -100%;
        transition: 300ms;
        width: 265px;
        height: 100vh;
        background: #2C6269;
        z-index: 1111;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 112px 48px;
        gap: 36px;
    }

    .main-nav.show {
        right: 0;
    }

    .overlay {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0, 0.5);
        z-index: 111;
        display: none;
    }

    .main-nav.show + .overlay {
        display: block;
    }

    .main-nav::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url(../IMG/menu-shape.png) no-repeat right bottom;
    }

    .main-nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
    }

    .main-nav .btn-outline {
        margin: 0;
    }

    .contact-section {
        padding: 32px 0 88px;
    }

    .contact-info h1 {
        font-size: 48px;
        line-height: 1;
    }

    .contact-info ul {
        gap: 24px;
    }

    .decor--left {
        display: none;
    }

    .contact-form {
        gap: 15px;
    }

    .decor--right {
        bottom: -100px;
    }

}

