/* --------- Basic CSS ---------- */

*,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Livvic", sans-serif;
	color: #ffffff;
	background-color: #014e56;
	line-height: 1.4;
}

.header-txt-color{
    color: white;
    font-family: "Livvic";
    font-weight: 300;
    font-style: normal;
    flex-shrink: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.logo-img {
	width: 160px;
	height: auto;
}

.btn-outline {
	display: inline-block;
    padding: 9px 32px 11px;
    border: 2px solid #fff;
    border-radius: 35px;
    transition: background 0.25s, color 0.25s 300ms;
    font-family: "Livvic", sans-serif;
    font-size: 16.1px;
    font-weight: 600;
    line-height: 155.556%;
    letter-spacing: 0.8px;
	margin-bottom: 3px;
}

.btn-outline:hover {
	background: #fff;
	color: #003d3f;
}

.btn-solid {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	padding: 0 32px;
	background: #fff;
	border-radius: 25px;
  color: #004047;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 155.556%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 300ms;
}

.btn-solid:hover {
	opacity: 0.85;
}

/* container */
.form-container {
  width: 80%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* --------- Header section ---------- */

.site-header {
	padding: 73px 0px 38px 0px;
}

.site-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-nav {
	display: flex;
	align-items: center;
	gap: 40px;
	flex-grow: 1;
	padding-left: 80px;
}

.main-nav ul {
	list-style: none;
	display: flex;
	gap: 40px;
}

.main-nav ul a {
	color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 155.556%;
  transition: 300ms;
}

.main-nav ul a:hover {
  color: #F67E7E;
}

.main-nav .btn-outline {
	margin-left: auto;
}

.burger_btn {
	background: transparent;
	border: none;
	outline: none;
	display: none;
}

.burger_close {
	position: absolute;
	top: 56px;
	right: 25px;
	background: transparent;
	border: none;
	outline: none;
	display: none;
}


/* --------- contact section ---------- */

.contact-page {
	position: relative;
	overflow: hidden;
}

.contact-section {
  position: relative;
  padding: 79.5px 0 120px;
}

.contact-section .form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.decor {
	width: 100px;
	height: auto;
  position: absolute;
  z-index: -1;
}

.decor--left {
	left: 0;
  top: 83px;
}

.decor--right {
	right: 0;
  bottom: 0;
}


.contact-info h1 {
	color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 156.25%;
}

.subtitle {
	color: #F67E7E;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 15px 0 32px;
}

.contact-info ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.contact-info li {
	display: flex;
	align-items: center;
	gap: 23px;
	color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.556% ;
}

.contact-info li img {
	width: 72px;
	flex-shrink: 0;
}

.contact-info-text {
	margin-top: 3px;
}

.contact-form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
}

.form_group {
	width: 100%;
}

.contact-form input,
.contact-form textarea {
width: 100%;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px 14px;
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
    letter-spacing: -0.115px;
    transition: 300ms;
}

.contact-form textarea {
  height: 80px;
  margin-top: 1px;
}

.form-hr {
	margin: 15px 0px 14px;
}

.contact-form :nth-child(5) > .form-hr {
	margin: -3px 0px 4px 0;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: #FFF;
	opacity: 0.6;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #79C8C7;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
  opacity: 1;
} 

.contact-form textarea {
	resize: none;
	min-height: 80px;
}

/* error */

.contact-form input.error,
.contact-form textarea.error {
  border-color: #F67E7E;
  color: #F67E7E;
}

.contact-form input.error::placeholder,
.contact-form textarea.error::placeholder {
  color: #F67E7E;
}

.contact-form .error-message {
  color: #F67E7E;
  margin-top: 8px;
  margin-left: 14px;
  color: #F67E7E;
	font-size: 10px;
	font-style: italic;
	font-weight: 700;
	line-height: normal;
}


.contact-form .btn-solid {
    margin-top: 10px;
    margin-left: -2px;
}
