body {
    margin: 0;
    background-color: rgb(44, 98, 105);
}
.header-txt-color{
    color: white;
    font-family: "Livvic";
    font-weight: 300;
    font-style: normal;
    flex-shrink: 0;
}

.header-txt-color > *{
    color: white;
    font-family: "Livvic";
    font-weight: 300;
    font-style: normal;
    flex-shrink: 0;
}
.header{
    width:  100%;
    height: 517px;
    background: #014E56;
}
.section2{
    width:  100%;
    height: 437px;
    background: #012F34;
}
.footer1{
    width:  100%;
    height: 200px;
    background: #F67E7E;
    color: #1c2e35;
}
.footer2{
    width:  100%;
    height: 196px;
    background: #002529;
}

.myteam{
    width: 17.03%;
    margin-top: -1px;
}
.a1{
    width: 6.25%;
    margin-top: 5px;
}
.a2{
    width: 82.3%;
    margin-top: -4px;
    justify-content: end;
    display: flex;
}
.line2{
    margin-top: 110px;
    position: absolute;
    margin-left: 390px;
}
#buttonHome{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-decoration: none;
    transition: 0.2s linear;
}
#buttonAbout{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-decoration: none;
    transition: 0.2s linear;
}
#buttonContacts{
    text-decoration: none;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    border-radius: 24px;
    border: 2px solid #FFF;
    display: inline-block;
    padding-top: 9px;
    padding-bottom:11px ;
    padding-left: 32px;
    padding-right: 33px;
    width: 88px;
    height: 28px;
    transition: 0.2s linear;
}
#buttonContacts:hover{
    color: black;
    background-color: white;
}
#buttonHome:hover{
    color: #F67E7E;
}
#buttonAbout:hover{
    color: #F67E7E;
}
.about{
    width: 350px;
    height: 100px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-top: 130px;
}
.text1{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 38%;
    margin-top: 170px;
    position: absolute;
    margin-left: 390px;
}
.group1{
    width: 100px;
    height: 200px;

}
.group2{
    width: 100%;
    justify-content: end;
    margin-top: -40px;
    display: flex;
    height: auto;
}
.burger{
    display: none;
}
/*media dekstop*/
@media(min-width:1440px){
body {
    margin: 0;
    background-color: rgb(44, 98, 105);
}
.header{
    width:  100%;
    height: 517px;
    background: #014E56;
}
.section2{
    width:  100%;
    height: 437px;
    background: #012F34;
}
.footer1{
    width:  100%;
    height: 200px;
    background: #F67E7E;
    color: #1c2e35;
}
.footer2{
    width:  100%;
    height: 196px;
    background: #002529;
}

.myteam{
    width: 17.03%;
    margin-top: -1px;
    left: 40px;
    position: relative
}
.a1{
    width: 8.76%;
    margin-top: 6px;
    position: relative;
    left: 106px;
}
.a2{
    width: 82.3%;
    margin-top: -4px;
    justify-content: end;
    display: flex;
}
.line2{
    margin-top: 110px;
    position: absolute;
    margin-left: 420px
}
#buttonHome{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-decoration: none;
    transition: 0.2s linear;
}
#buttonAbout{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-decoration: none;
    transition: 0.2s linear;
}
#buttonContacts{
    text-decoration: none;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24px;
    border: 2px solid #FFF;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 29px;
    padding-right: 33px;
    width: 88px;
    height: 28px;
    transition: 0.2s linear;
    left: -39px;
    position: relative;
}
#buttonContacts:hover{
    color: black;
    background-color: white;
}
#buttonHome:hover{
    color: #F67E7E;
}
#buttonAbout:hover{
    color: #F67E7E;
}
.about{
    width: 350px;
    height: 100px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-top: 120px;
    position: relative;
    left: 40px;
}
.text1{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 48%;
    margin-top: 165px;
    position: absolute;
    margin-left: 420px;
}
.group1{
    width: 100px;
    height: 200px;

}
.group2{
    width: 100%;
    justify-content: end;
    margin-top: -25px;
    display: flex;
    height: auto;
}
.burger{
    display: none;
}
}
/*media tablet*/
@media(min-width: 768px) and (max-width: 1439px){
    .line2{
        display: none;
    }
    .myteam{
        width: 70%;
    }
    .myteam2{
        width: 128px;
        height: 32px;
        position: relative;
        top: -5px;
        left: 1px;
    }
    .a1{
        width: 26.3%;
        color: #FFF;
        top: -8px;
        position: relative;
        left: -60px;
    }
    .header{
        height: 556px;
    }
    .group1{
        margin-top: -24px;
        position: absolute;
        top: 380px
    }
    #buttonContacts{
        text-decoration: none;
        color: #FFF;
        font-family: "Livvic", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 28px;
        border: 2px solid #FFF;
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 29px;
        padding-right: 31px;
        width: 88px;
        height: 28px;
        transition: 0.2s linear;
        left: -2px;
        position: relative;
        top: -10px;
    }
    .about{
        margin: auto;
        position: absolute;
        width: 90.6%;
        justify-content: center;
        display: flex;
        margin-top: 80px;
    }
    
    .bigdiv{
        width: 90% !important;
    }
    .text1{
        margin: auto;
        width: 65%;
        margin-top: 183px;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        position: relative;
        left: 0px;
    }
}
/*media tablet*/
/*media phone*/
@media(max-width: 767px){
    .a1{
        display: none;
    }

    .a2{
        display: none;
    }

    .line2{
        display: none;
    }

    .burger {
        display: block;
        position: absolute;
        display: flex;
        justify-content: end;
        margin-top: 100px;
        left: 90%;
    }

    .myteam2{
        width: 128px;
        height: 32px;
        position: relative;
        top: -29px;
        left: 5px;
    }
    .group1{
   margin-top: 104px;
   height: 200px;
   width: 100px;
   position: absolute;
   top: 316px
    }
    .group2{
        height: 100px;
    }
    .header{
        height: 520px;
    }
    .about{
        margin: auto;
        position: absolute;
        width: 90%;
        justify-content: center;
        display: flex;
        margin-top: 47px;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    .bigdiv{
        width: 90% !important;
    }
    .text1{
        margin: auto;
        position: relative;
        width: 94%;
        margin-top: 104px;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
    .burger{
        display: block;
        width: 90%;
        display: flex;
        justify-content: end;
        margin-top: -22px;
        position: relative;
        left: -5px;
    }
}
/*media phone*/

.flex1{
    display: flex;
    margin-top: -40px;
}
.bigdiv{
    width: 82.7%;
    margin: auto;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0);
}
.textarea1{
    display: flex;
    width: 100%;
    margin-top: 77px;
}
.textarea2{
    display: flex;
    width: 100%;
}
.flex2{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 198px;
}
.tipoDa{
    margin-top: 130px;
    margin-left: 190px;
}
p{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.txt-style{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
  }

.team{
    margin-left: 135px;
}

.homeF{
    margin-left: 135px;
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    margin-top: 25px;
    text-decoration: none;
}
.aboutF{
    margin-left: 40px;color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 25px;
    text-decoration: none;
}

.STY{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
    opacity: 0.6;
    margin-top: -8px;
    margin-left: 125px;
    width: 445px;
}

.size{
    width: 300px;
    height: 200px;
}

.cta h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
  }
  /*section*/
  svg.pos0 {
    margin-top: 95px;
}
svg.pos1 {
    margin-top: 95px;
}
svg.pos2 {
    margin-top: 95px;
}
svg.pos3 {
    margin-top: 95px;
}
svg.pos4 {
    margin-top: 70px;
}
svg.pos5 {
    margin-top: 70px;
}

.section1{
    width:  100%;
    height: 42.6%;
    background: #004047;
}
.flexpos {
    position: relative;
    z-index: 1;
    background: #004047;
}
.flex0{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 10.5em;
}
.flex0img {
    height: 59.5%;
}
.flex3{
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
}
.flex3 > * {
    margin: 0;
}
.flex4{
    display: flex;
    width: 77%;
    margin: auto;
    margin-top: 3.37%;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 36.375em;
}
.flex4 > * {
    z-index: 2;
}
.romb {
    position: relative;
    height: 253px;
    flex-basis: 31.53%;
    background: #012F34;
    transition: 0.1s linear;
    text-align: center;
}
.romb * {
    transition: 0.1s linear;
    
}
.romb button {
    background: none;
    border: unset;
    display: block;
}
.oval{
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 96px;
    border: 2px solid #C4FFFE;
    margin: auto;
    margin-top: 8.6%;
}
.blue{
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin: auto;
    margin-top: 4.3%;
}
.white{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px; 
    width: 80%;
    margin: auto;
}
.btn {
    position: absolute;
    bottom: -11.4%;
    left: 50%;
    transform: translateX(-50%);
}
.circle {
    fill: #F67E7E;
}
.circle.tgl-circle {
    fill: #79C8C7;
}
.btn:hover .circle {
    fill: #79C8C7;
}
.btn:hover .circle.tgl-circle {
    fill: #F67E7E; 
}
.plus {
    transform-origin: center;
}
.plus.tgl-plus {
    rotate: 45deg;
}
.bt-icons {
    margin-top: 6%;
}
.invisible {
    width: 0;
    height: 0;
    border: 0;
    margin-top: unset !important;
}
a:hover > path{
    fill: #F67E7E;
}
.heig {
    margin-top: 10.4% !important;
}
.state {
    font-style: normal;
    margin-top: 2.4%;
    width: 70%;
    font-size: 15.4px;
}
  /*section*/
  /*media*/
  @media (max-width: 768px) and (min-width: 450px) {
    .flex3 {
        bottom: 31.5%;
    }  
    .flex3 > p{
        font-size: 32px;
    }
    .flex4 {
        width: 74.5%;
        margin-top: -3.1%;
        height: 56.9em;
    }
    .romb {
        flex-basis: 49%;
        height: 27.791%;
    }
    .oval {
        margin-top: 10.6%;
    }
    .blue {
        margin-top: 5.5%;
    }
    .flex0 {
        height: 8em;
    }
    .flex0img {
        height: unset;
    }
    .heig {
        margin-top: 13%;
    }
    .state {
        width: 81%;
    }
    .bt-icons {
        margin-top: 8%;
    }
  }
  @media (max-width: 450px) {
    .flex3 {
        bottom: 37.5%;
        transform: translateX(-76%);
    }
    .flex3 > p {
        font-size: 33px;
        width: 152%;
        font-weight: 600;
    }
    .flex4 {
        width: 87.5%;
        margin-top: -10%;
        height: 107.9em;
    }
    .romb {
        height: 15.85em;
        flex-basis: 100%;
    }
    .flex4 > .romb {
        margin-top: 15.5%;
    }
    .flex4 > .romb:first-child {
        margin-top: 0%;
    }
    .flex4 > .romb:nth-child(3) {
        margin-top: 16%;
    }
    .flex4 > .romb:last-child {
        margin-top: 16.5%;
    }
    #romb6 > button > svg {
        bottom: -10.4%;
    }
    #romb6 > .bt-icons {
        margin-top: 6.7%;
    }
    .oval {
        margin-top: 9.6%;
    }
    .blue {
        margin-top: unset;
    }
    .flex0 {
        height: 10.5em;
    }
  }
  @media (max-width: 450px) and (min-width: 375px) {
    .flex0 {
        margin-top: 6em;
    }
  }
  /*media*/

  .cta button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #1c2e35;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
  }
  .backgrnd {
    background-color: #002529;
}
.txt-style2{
    color: #012F34;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    line-height: 48px; 
}

.copyright-txt{
    color: #FFF;
    text-align: right;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}
.info-txt{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}
.color{
    color: white;
}
.position10{
    display: none;   
   }
   .position11{
       display: none;
   }
/* mobile */
@media (max-width: 767px){
    .position1{
        display: none;
    }
    .position8{
        display: none;
    }
    .position2{
        position: absolute;
        top: 2013px;
        bottom: 100px;
        left: 0px;
        right: 1300px;
    }
    .txt-box-size{
        width: 1020px;
        position: absolute;
        top: 1500px;
        left: -150px;
        right: 800px;
        bottom: 100px;
    }
    .position3{
        display: none;
    }
    .position11{
        display: block;
        position: absolute;
        top: 1520px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .position10{
        display: block;
        position: absolute;
        top: 1620px;
        left: 300px;
        right: 100px;
        bottom: 100px;
        height: 300px;
    }
    .info{
        text-align: center;
        width: 400px;
        position: absolute;
        top: 2250px;
        bottom: 100px;
        right: 450px;
        left: 150px;
    }
    .info-txt{
        text-align: center;
    }
    .position7{
        position: absolute;
        top: 2380px;
        bottom: 100px;
        right: 100px;
        left: 323px;
    }
    .position6{
        position: absolute;
        top: 2390px;
        bottom: 100px;
        right: 295px;
        left: 123px; 
    }
    .position4{
        position: absolute;
        top: 2030px;
        bottom: 100px;
        right: 195px;
        left: 203px; 
    }
    #buttonContactss{
        color: #012F34;
        font-family: "Livvic", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 24px;
        text-decoration: none;
        border: 2px solid #012F34;
        text-decoration: none;
        margin-top: 73px;
        padding-top: 9px;
        padding-bottom:11px ;
        padding-left: 32px;
        padding-right: 33px;
        width: 88px;
        height: 28px;
    }
    .position9{
        position: absolute;
        top: -10px;
        bottom: 100px;
        left: 100px;
        right: 195px;
    }
    .txt-style {
        display: none;
    }
    .txt-style2{
        text-align: center;
    }
    .position5{
        position: absolute;
        top: 2180px;
        right: 195px;
        left: 140px; 
        bottom: 100px;
    }
    .footer2{
        height: 300px;
    }
}
/* mobile */

/* tablet */
@media (min-width: 768px) and (max-width: 1439px) {
    .position10{
        display: none;
    }
    .position11{
        display: none;
    }
    .position1{
        display: none;
    }
    .position8{
        position: absolute;
        top: 1519px;
        bottom: 100px;
        left: 0px;
        right: 1000px;
        display: block;
    }
    .txt-box-size{
        width: 1020px;
        position: absolute;
        top: 1650px;
        left: 100px;
        right: 800px;
        bottom: 100px;
    }
    .position3{
        position: absolute;
        display: block;
        display: flex;
        justify-content: end;
        width: 80%;
        margin-top: 200px;
        margin-left: 100px;
    }
    .position6{
        position: absolute;
        top: 2300px;
        bottom: 100px;
        left: 850px;
        right: 800px;
        width: 100%;
    }
    .info{
        text-align: right;
        width: 400px;
        position: absolute;
        top: 2180px;
        bottom: 100px;
        right: 800px;
        left: 850px;
    }
    .info-txt{
        text-align: right;
    }
    .position4{
        position: absolute;
        top: 2020px;
        left: 100px;
        right: 100px;
        bottom: 0px;
    }
    #buttonContactss{
        color: #012F34;
        font-family: "Livvic", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 24px;
        text-decoration: none;
        border: 2px solid #012F34;
        text-decoration: none;
        
        margin-top: 73px;
        padding-top: 9px;
        padding-bottom:11px ;
        padding-left: 32px;
        padding-right: 33px;
        width: 88px;
        height: 28px;
    }
    .position5{
        position: absolute;
        left: -80px;
        top: 2200px;
        right: 0px;
        bottom: 0px;
    }
    .position7{
        position: absolute;
        top: 2300px;
        bottom: 100px;
        left: 100px;
        right: 100px;
    }
    .position9{
        position: absolute;
        top: -100px;
        bottom: 100px;
        left: 800px;
        right: 1000px;
    }
    .position2{
        position: absolute;
        top: 2029px;
        bottom: 100px;
         left: 0px;
        right: 1300px;
    }
    #Sidebar{
        display: none;
    }
    .sidebar{
        display: none;
    }
}
 /* tablet */
 
/* desktop */
@media (min-width: 1440px) {
    .position10{
     display: none;   
    }
    #Sidebar{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .position11{
        display: none;
    }
    .position2{
        position: absolute;
        top: 2086px;
        bottom: 100px;
        left: 0px;
        right: 1300px;
    }
    .position7{
        position: absolute;
        top: 2290px;
        bottom: 100px;
        left: 1450px;
        right: 100px;
        color: white;
    }
    .position6{
        position: absolute;
        top: 2300px;
        bottom: 100px;
        left: 200px;
        right: 280px;
    }
    .position5{
        position: absolute;
        left: -20px;
        top: 2300px;
        right: 0px;
        bottom: 0px;
    }
    .position4{
        position: absolute;
        top: 2120px;
        left: 100px;
        right: 100px;
        bottom: 0px;
    }
    .position3{
        position: absolute;
        top: 1750px;
        bottom: 100px;
        left: 350px;
        right: 600px;
    }

    .info{
        position: absolute;
        top: 2280px;
        bottom: 100px;
        right: 600px;
        left: 800px;
    }

    .txt-box-size{
        width: 1020px;
        position: absolute;
        top: 1600px;
        left: 380px;
        right: 640px;
        bottom: 100px;
    }
    .position8{
        display: none;
    }
    .position1{
        position: absolute;
        top: 1590px;
        bottom: 100px;
        left: 0px;
        right: 1300px;
    }
    .copyright-txt{
        color: #FFF;
        text-align: right;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        opacity: 0.6;
    }
    .info-txt{
        text-align: left;
    }
    #buttonContactss{
        text-decoration: none;
        color: #012F34;
        font-family: "Livvic", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 24px;
        border: 2px solid #012F34;
        
        margin-top: 73px;
        padding-top: 9px;
        padding-bottom:11px ;
        padding-left: 32px;
        padding-right: 33px;
        width: 88px;
        height: 28px;
        margin-left:557px ;
    }
}
/* tv */

.home1:hover{
    color: #F67E7E;
}

.about1:hover{
    color: #F67E7E;
}

.about_png:hover{
    color: #F67E7E;
}

.contact-btn:hover{
    background-color: #004047;
    color: white;
}


  
h1, h2, h3, p, address, .footer-nav > li {
    font-family: 'Livvic', sans-serif;
    color: #ffffff;
  }
  a { color: inherit; text-decoration: none; }




/* ready-to-start  */

.ready-to-start {
  background: #f67e7e;
  padding: 76px 0;
  position: relative;
}

.ready-to-start .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ready-to-start .shape {
  position: absolute;
  left: 0;
  bottom: 0;
}

.ready-to-start h2 {
  color: #012f34;
  font-family: "Livvic", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  margin: 0;
}

.ready-to-start .contact-btn {
  text-decoration: none;
  color: #012f34;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border-radius: 24px;
  border: 2px solid #012f34;
  display: inline-block;
  flex-shrink: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 32px;
  padding-right: 33px;
}

.ready-to-start .contact-btn:hover {
  background: #012f34;
  color: #fff;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #014E56;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
#main {
    transition: margin-left .5s;
    padding: 4px;
}

.link{
    text-decoration: none;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24px;
    border: 2px solid #FFF;
    display: inline-block;
    flex-shrink: 0;
    margin-top: 23px;
    padding-top: 9px;
    padding-bottom:11px ;
    padding-left: 32px;
    padding-right: 33px;
    width: 88px;
    height: 28px;
    margin-left: 5px;
}

.position{
    position: absolute;
    left: 150px;
    right: 0px;
    top: 400px;
    bottom: 100px;
}

@media (max-width: 1024px) {
  .ready-to-start {
    padding: 84px 0;
    overflow: hidden;
  }

  .ready-to-start h2 {
    font-size: 32px;
  }

  .ready-to-start .shape {
    bottom: -15px;
    width: 167px;
  }
}


@media (max-width: 767px) {
  .ready-to-start .container {
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  .ready-to-start h2 {
    max-width: 200px;
    margin: auto;
    text-align: center;
    line-height: 32px;

  }

  .ready-to-start .shape {
    bottom: -15px;
    width: 170px;
  }

  .burger{
    display: block;
    left: 75%;
    width: 10%;
}
}
@media (min-width: 768px) and (max-width: 1439px) {
    #Sidebar{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .burger{
        display: none;
    }
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #2C6269;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #014E56;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
#main {
    transition: margin-left .5s;
    padding: 4px;
}
.link{
    text-decoration: none;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24px;
    border: 2px solid #FFF;
    display: inline-block;
    flex-shrink: 0;
    margin-top: 23px;
    padding-top: 9px;
    padding-bottom:11px ;
    padding-left: 32px;
    padding-right: 33px;
    width: 88px;
    height: 28px;
    margin-left: 5px;
}

.position{
    position: absolute;
    right: 0;
}
.facebook-png{
    color:white;
}
.pinterest-png{
    color:white;
}

.twitter-png{
    color:white;
}



.facebook-png:hover{
    color:#f27c7c;
}
.pinterest-png:hover{
    color:#f27c7c;
}

.twitter-png:hover{
    color:#f27c7c;
}